{% extends "base/base.html" %}

{% block title %}
Crear un jugador
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Agregar jugador</button>
        <a href="{% url 'core:listajugadores' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}