{% extends 'base/base.html' %}

{% block title %} lista de jugadores {% endblock title %}

{% block content %}


    <a href="{% url 'core:crearjugador' %}" class="btn btn-outline-success form-control">Crear nuevo jugador</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for jugador in jugador %}
                <tr>
                    <td>{{ jugador.id }}</td>
                    <td>{{ jugador.Nombre }}</td>
                    <td><a href="{% url 'core:detallesjugador' jugador.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:actujugador' jugador.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:borrarjugador' jugador.id %}" class="btn btn-outline-danger">Borrar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
   
 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

{% endblock content %}
