{% extends "base/base.html" %}

{% block title %}
Actualizar estadio
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary">Actualizar estadio</button>
        <a href="{% url 'core:listaestadios' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}