{% extends 'base/base.html' %}

{% block title %} listas de estadios {% endblock title %}

{% block content %}


    <a href="{% url 'core:crearestadio' %}" class="btn btn-outline-success form-control">Crear nuevo Estadio</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for estadio in estadio %}
                <tr>
                    <td>{{ estadio.id }}</td>
                    <td>{{ estadio.Nombre }}</td>
                    <td><a href="{% url 'core:detallesestadio' Ciudades.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:actuestadios' Ciudades.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:borrarestadios' Ciudades.id %}" class="btn btn-outline-danger">Borrar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
   
   <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock content %}
