{% extends "base/base.html" %}

{% block title %}
Borrar equipo
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Seguro de borrar: {{ object.Nombre }}?
        <button type="submit" class="btn btn-outline-danger">Borrar equipo</button>
        <a href="{% url 'core:listaequipos' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}