{% extends "base/base.html" %}

{% block title %}
Crear un equipo
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Agregar equipo</button>
        <a href="{% url 'core:listaequipos' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock content %}