{% extends 'base/base.html' %}

{% block title %} lista de equipos {% endblock title %}

{% block content %}


    <a href="{% url 'core:crearequipo' %}" class="btn btn-outline-success form-control">Crear nuevo equipo</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for equipo in equipo %}
                <tr>
                    <td>{{ equipo.id }}</td>
                    <td>{{ equipo.Nombre }}</td>
                    <td><a href="{% url 'core:detallesequipo' equipo.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:actuequipo' equipo.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:borrarequipo' equipo.id %}" class="btn btn-outline-danger">Borrar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
   
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock content %}
